<beans:beans
	xmlns="http://www.springframework.org/schema/mvc"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">

	<annotation-driven />
	<context:component-scan base-package="com" />
	<resources mapping="/resources/**" location="/resources/" />
	<beans:bean id="viewResolver1"
		class="org.springframework.web.servlet.view.ResourceBundleViewResolver">
		<beans:property name="order" value="1" />
		<beans:property name="basename" value="views" />
	</beans:bean>
	<beans:bean name="'viewResolver"
		class="org.springframework.web.servlet.view.UrlBasedViewResolver">
		<!-- <beans:property name="order" value="1"/> -->
		<beans:property name="viewClass"
			value="org.springframework.web.servlet.view.tiles3.TilesView" />
	</beans:bean>


	<!-- <beans:bean id="viewResolver2" class="org.springframework.web.servlet.view.ResourceBundleViewResolver"> 
		<beans:property name="order" value="2"/> <property name="basename" value="views"/> 
		</beans:bean> -->





	<beans:bean id="tilesConfigurer"
		class="org.springframework.web.servlet.view.tiles3.TilesConfigurer">
		<beans:property name="definitions">
			<beans:list>
				<beans:value>/WEB-INF/tiles.xml</beans:value>
			</beans:list>
		</beans:property>
	</beans:bean>



	<beans:bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<beans:property name="driverClassName"
			value="com.mysql.jdbc.Driver" />

		<beans:property name="url"
			value="jdbc:mysql://localhost:3306/springmvctiles" />


		<beans:property name="username" value="root" />


		<beans:property name="password" value="root" />

	</beans:bean>

	<beans:bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<beans:property name="dataSource" ref="dataSource" />
		<beans:property name="packagesToScan" value="com">

		</beans:property>
		<beans:property name="hibernateProperties">
			<beans:props>
				<beans:prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect
				</beans:prop>
				<beans:prop key="hibernate.show_sql">true</beans:prop>
			</beans:props>
		</beans:property>
	</beans:bean>

	<!--Message source Configuration -->

	<beans:bean id="messageSource"
		class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
		<beans:property name="basenames">
			<beans:list>
				<beans:value>/WEB-INF/classes/message</beans:value>
			</beans:list>
		</beans:property>
		<beans:property name="defaultEncoding" value="UTF-8" />
		<beans:property name="cacheSeconds" value="60" />
	</beans:bean>

	<beans:bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">

		<!-- max upload size in bytes -->
		<beans:property name="maxUploadSize" value="20971520" /> <!-- 20MB -->

		<!-- max size of file in memory (in bytes) -->
		<beans:property name="maxInMemorySize" value="1048576" /> <!-- 1MB -->

	</beans:bean>

</beans:beans>